<form>
  <div class="flexrow">
    <div class="flexcol">
      <h3>
        Commands
      </h3>

      <button data-preset="random-num" type="button">
        <i class="fas fa-dice"></i>
        Random Number
      </button>
        <button data-preset="show-random-num" type="button">
            <i class="fas fa-notes"></i>
        Show Random Number
      </button>
    </div>

    <div class="flexcol">
      <label>
        Output:
        <input type='text' name='output' />
      </label>
          <div class="flexcol">
      <label>
        Output Rounded:
        <input type='text' name='output_round' />
      </label>

    </div>
  </div>
</form>